<nav id="sidebar" class="sidebar sidebar-active">

  <div class="table-responsive">
    <table class="menu-links">
      <thead>
        <th></th>
      </thead>
      <tbody id="items-menu">
        <tr class="item-menu">
          <td>
            <div class="linear">
              <i class="fas fa-users" style="font-size: 20px;"></i>
              <p>
                Clients
              </p>
            </div>
          </td>
        </tr>
        <tr class="item-menu">
          <td>
            <div class="linear">
              <i class="fas fa-users" style="font-size: 20px;"></i>
              <p>
                Clients
              </p>
            </div>
          </td>
        </tr>
        <tr class="item-menu">
          <td>
            <div class="linear">
              <i class="fas fa-users" style="font-size: 20px;"></i>
              <p>
                Clients
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <button
      type="button"
      class="btn btn-primary"
      id="sidebarCollapse"
      onclick="activateSidebar()"
    >
      <i class="fas fa-archive" style="font-size: 35px;"></i>
      Client Base
    </button>
  </div>
</nav>
