{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>@{{ user.username }} | Details</title>
{% endblock %}

{% block container %}
<div class="container">
  <div class="text-center">
    <h1>Details of @{{client.username}}</h1>
    {% if user == object or user.is_staff or user.is_superuser %}
    <a
      href="{% url 'clients:edit' username=client.username %}"
      class="btn btn-outline-primary"
    >
      Edit User
    </a>
    {% endif %}
  </div>

  <hr/>
  <div class="container">

    <div class="img">
      {% if client and client.profile.picture %}
      <img src="{{ client.profile.picture.url }}" alt="icon user" height="200">
      {% else %}
      <img src="{% static 'imgs/default-profile.png' %}" alt="image" height="200"/>
      {% endif %}
    </div>

    <div class="justify-content-center">
      <h5 class="col-12">Active:</h5>
      <p class="col-12">
        {% if client.is_active %}
        <i class="fas fa-check-circle"></i>
        {% else %}
        <i class="fas fa-times-circle"></i>
        {% endif %}
      </p>
    </div>

    <div class="justify-content-center">
      <h5 class="col-12">Name:</h5>
      <p class="col-12">
        {{ client.first_name }}
      </p>
    </div>

    <div class="justify-content-center">
      <h5 class="col-12">Last Name:</h5>
      <p class="col-12">
        {{ client.last_name }}
      </p>
    </div>

    <div class="justify-content-center">
      <h5 class="col-12">Phone:</h5>
      <p class="col-12">
        {{ client.profile.phone_number }}
      </p>
    </div>

    <div class="justify-content-center">
      <h5 class="col-12">Website:</h5>
      <p class="col-12">
        {{ client.profile.website }}
      </p>
    </div>

    <div class="justify-content-center">
      <h5 class="col-12">Biography:</h5>
      <p class="col-12">
        {{ client.profile.biography }}
      </p>
    </div>

    <div class="justify-content-center">
      <h5 class="col-12">Created:</h5>
      <p class="col-12">
        {{ client.profile.created }}
      </p>
    </div>

    <div class="justify-content-center">
      <h5 class="col-12">Verified:</h5>
      <p class="col-12">
        {% if client.is_verified %}
        <i class="fas fa-check-circle"></i>
        {% else %}
        <i class="fas fa-times-circle"></i>
        {% endif %}
      </p>
    </div>

    <div class="justify-content-center">
      <h5 class="col-12">Client:</h5>
      <p class="col-12">
        {% if client.is_client %}
        <i class="fas fa-check-circle"></i>
        {% else %}
        <i class="fas fa-times-circle"></i>
        {% endif %}
      </p>
    </div>

    {% if object == client or client.is_staff or client.is_superuser %}
    <div class="justify-content-center">
      <h5 class="col-12">Email:</h5>
      <p class="col-12">
        {{ client.email }}
      </p>
    </div>

    {% endif %}

    {% if client.is_staff or client.is_superuser %}
    <div class="justify-content-center">
      <h5 class="col-12">Is Staff:</h5>
      <p class="col-12">
        {% if client.is_staff %}
        <i class="fas fa-check-circle"></i>
        {% else %}
        <i class="fas fa-times-circle"></i>
        {% endif %}
      </p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
