body {
  background-color: #f9f9fa;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #ccc;
}

footer > p {
  margin-top: 1em;
}

.hidden {
  visibility: collapse;
}

.show {
  visibility: visible;
}

.main-title {
  color: white;
}

.nav-item {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  margin-bottom: 2em;
}


.sidebar {
  display: flex;
  flex-direction: column;
  width: initial;
  justify-content: space-between;
}

.sidebar-active {
}

.sidebar-inactive {
}


.content-main {
  width: -moz-available;
  width: -webkit-fill-available;
}

.boton-menu {
  display: flex;
  margin: 0.6em;
}

.menu-links {
  margin-left: 0.6em;
  margin-right: 0.6em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.linear {
  display: flex;
}
